<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <title>برنامه ریز | پورتال مدیریت دانش آموزان | پنل مشاور </title>
    <link rel="apple-touch-icon" href="~/wwwroot/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/wwwroot/images/favicon/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+outlined" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendors/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendors/animate-css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendors/chartist-js/chartist.min.css">
    <link rel="stylesheet" type="text/css" href="~/wwwroot/vendors/chartist-js/chartist-plugin-tooltip.css">
    <!-- END: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/css-rtl/style-rtl.min.css">
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/css-rtl/themes/vertical-dark-menu-template/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="~/wwwroot/css-rtl/themes/vertical-dark-menu-template/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/wwwroot/css-rtl/pages/dashboard-modern.css">
    <link rel="stylesheet" type="text/css" href="~/wwwroot/css-rtl/pages/intro.min.css">
    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/css-rtl/custom/custom.css">
    <!-- END: Custom CSS-->
    @RenderSection("pre", required: false)
</head>
 <body>

     <!-- BEGIN: Header-->
     <header class="page-topbar" id="header">
         <div class="navbar navbar-fixed">
             <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-light">
                 <div class="nav-wrapper">
                     <div class="header-search-wrapper hide-on-med-and-down">
                         <i class="material-icons">search</i>
                         <input class="header-search-input z-depth-2 iransans" type="text" name="Search" placeholder="جست و جو..." data-search="template-list">
                         <ul class="search-list collection display-none"></ul>
                     </div>
                     <ul class="navbar-list right">
                         <li class="dropdown-language"><a class="waves-effect waves-block waves-light translation-button" href="#" data-target="translation-dropdown"><span class="flag-icon flag-icon-ir"></span></a></li>
                         <li class="hide-on-med-and-down"><a class="waves-effect waves-block waves-light toggle-fullscreen" href="javascript:void(0);"><i class="material-icons">settings_overscan</i></a></li>
                         <li class="hide-on-large-only search-input-wrapper"><a class="waves-effect waves-block waves-light search-button" href="javascript:void(0);"><i class="material-icons">search</i></a></li>
                         <li><a class="waves-effect waves-block waves-light notification-button" href="javascript:void(0);" data-target="notifications-dropdown"><i class="material-icons">notifications_none<small class="notification-badge">5</small></i></a></li>
                         <li><a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown"><span class="avatar-status avatar-online"><img src="~/wwwroot/images/avatar/avatar-7.png" alt="avatar"><i></i></span></a></li>
                         <li><a class="waves-effect waves-block waves-light sidenav-trigger" href="#" data-target="slide-out-right"><i class="material-icons">format_indent_increase</i></a></li>
                     </ul>
                     <!-- translation-button-->
                     <ul class="dropdown-content" id="translation-dropdown">
                         <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="en"><i class="flag-icon flag-icon-ir"></i> فارسی</a></li>
                         <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="en"><i class="flag-icon flag-icon-gb"></i> انگلیسی</a></li>
                         <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="fr"><i class="flag-icon flag-icon-fr"></i> فرانسوی</a></li>
                         <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="pt"><i class="flag-icon flag-icon-pt"></i> پرتغالی</a></li>
                         <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="de"><i class="flag-icon flag-icon-de"></i> آلمانی</a></li>
                     </ul>
                     <!-- notifications-dropdown-->
                     <ul class="dropdown-content" id="notifications-dropdown">
                         <li>
                             <h6>اطلاعیه<span class="new badge">5</span></h6>
                         </li>
                         <li class="divider"></li>
                         <li>
                             <a class="black-text" href="#!"><span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span>سفارش جدیدی گذاشته شده است!</a>
                             <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">2 ساعت گذشته</time>
                         </li>
                         <li>
                             <a class="black-text" href="#!"><span class="material-icons icon-bg-circle red small">stars</span> کار را تمام کرد</a>
                             <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">3 روز گذشته</time>
                         </li>
                         <li>
                             <a class="black-text" href="#!"><span class="material-icons icon-bg-circle teal small">settings</span> تنظیمات به روز شد</a>
                             <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">4 روز گذشته</time>
                         </li>
                         <li>
                             <a class="black-text" href="#!"><span class="material-icons icon-bg-circle deep-orange small">today</span>جلسه مدیر شروع شد</a>
                             <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">6 روز گذشته</time>
                         </li>
                         <li>
                             <a class="black-text" href="#!"><span class="material-icons icon-bg-circle amber small">trending_up</span>گزارش ماهانه تهیه کنید</a>
                             <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">1 هفته پیش</time>
                         </li>
                     </ul>
                     <!-- profile-dropdown-->
                     <ul class="dropdown-content" id="profile-dropdown">
                         <li><a class="grey-text text-darken-1" href="user-profile-page.html"><i class="material-icons">person_outline</i> مشخصات</a></li>
                         <li><a class="grey-text text-darken-1" href="app-chat.html"><i class="material-icons">chat_bubble_outline</i> چت</a></li>
                         <li><a class="grey-text text-darken-1" href="page-faq.html"><i class="material-icons">help_outline</i> راهنمایی</a></li>
                         <li class="divider"></li>
                         <li><a class="grey-text text-darken-1" href="user-lock-screen.html"><i class="material-icons">lock_outline</i> قفل کردن</a></li>
                         <li><a class="grey-text text-darken-1" href="user-login.html"><i class="material-icons">keyboard_tab</i> خروج</a></li>
                     </ul>
                 </div>
                 <nav class="display-none search-sm">
                     <div class="nav-wrapper">
                         <form id="navbarForm">
                             <div class="input-field search-input-sm">
                                 <input class="search-box-sm" type="search" required="" id="search" placeholder="Explore Materialize" data-search="template-list">
                                 <label class="label-icon" for="search"><i class="material-icons search-sm-icon">search</i></label><i class="material-icons search-sm-close">close</i>
                                 <ul class="search-list collection search-list-sm display-none"></ul>
                             </div>
                         </form>
                     </div>
                 </nav>
             </nav>
         </div>
     </header>
     <!-- END: Header-->
     
     <div id="main">
         <div class="row">
             @RenderBody()
         </div>
         </div>

         <!-- BEGIN: SideNav-->
         <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-dark sidenav-active-rounded">
             <div class="brand-sidebar">
                 <h1 class="logo-wrapper">
                     <a class="brand-logo darken-1" href="index-2.html">
                         <img class="hide-on-med-and-down " src="~/wwwroot/images/logo/materialize-logo.png" alt="materialize logo" /><img class="show-on-medium-and-down hide-on-med-and-up" src="~/wwwroot/images/logo/materialize-logo-color.png"
                                                                                                                                           alt="materialize logo" /><span class="logo-text hide-on-med-and-down">برنامه ریز</span>
                     </a><a class="navbar-toggler" href="#"><i class="material-icons">radio_button_checked</i></a>
                 </h1>
             </div>
             <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="accordion">

                 <li class="bold">
                     <a class="waves-effect waves-cyan " href="@Url.Action("create","student")"><i class="material-icons">person_add</i><span class="menu-title" data-i18n="Mail">ثبت دانش آموز</span></a>
                 </li>
                 <li class="bold">
                     <a class="waves-effect waves-cyan " href="@Url.Action("create","consultant")"><i class="material-icons">person_add</i><span class="menu-title" data-i18n="Chat">ثبت مشاور</span></a>
                 </li>
                 <li class="bold">
                     <a class="waves-effect waves-cyan " href="@Url.Action("showAll","student")"><i class="material-icons">format_list_bulleted</i><span class="menu-title" data-i18n="ToDo">لیست دانش آموزان</span></a>
                 </li>
                 <li class="bold">
                     <a class="waves-effect waves-cyan " href="app-contacts.html"><i class="material-icons">format_list_bulleted</i><span class="menu-title" data-i18n="Contacts">لیست دبیران</span></a>
                 </li>

                 <li class="bold">
                     <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">assessment</i><span class="menu-title" data-i18n="Menu levels">تحلیل های جامع</span></a>
                     <div class="collapsible-body">
                         <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                             <li>
                                 <a href="Javascript:void(0)"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Second level">تحلیل آزمون ها</span></a>
                             </li>
                             <li>
                                 <a href="Javascript:void(0)"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Second level">تحلیل دانش آموزان</span></a>
                             </li>
                             <li>
                                 <a class="collapsible-header waves-effect waves-cyan" href="Javascript:void(0)"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Second level">تحلیل کلاس ها</span></a>
                                 <div class="collapsible-body">
                                     <ul class="collapsible" data-collapsible="accordion">
                                         <li>
                                             <a href="Javascript:void(0)"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Third level">آزمون های تستی</span></a>
                                         </li>
                                         <li>
                                             <a href="Javascript:void(0)"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Third level">آزمون های تشریحی</span></a>
                                         </li>
                                     </ul>
                                 </div>
                             </li>
                         </ul>
                     </div>
                 </li>

                 <li class="bold">
                     <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">construction</i><span class="menu-title" data-i18n="Menu levels">ابزارها</span></a>
                     <div class="collapsible-body">
                         <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                             <li>
                                 <a href="Javascript:void(0)"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Second level">یادداشت</span></a>
                             </li>
                             <li>
                                 <a class="collapsible-header waves-effect waves-cyan" href="Javascript:void(0)"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Second level">یادآور</span></a>
                                 <div class="collapsible-body">
                                     <ul class="collapsible" data-collapsible="accordion">
                                         <li>
                                             <a href="Javascript:void(0)"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Third level">تقویم</span></a>
                                         </li>
                                     </ul>
                                 </div>
                             </li>
                         </ul>
                     </div>
                 </li>
                 <li class="bold">
                     <a class="waves-effect waves-cyan " href="https://pixinvent.com/materialize-material-design-admin-template/html/rtl/https://pixinvent.com/materialize-material-design-admin-template/documentation/index.html" target="_blank"><i class="material-icons">folder</i><span class="menu-title" data-i18n="Documentation">مستندات</span></a>
                 </li>
                 <li class="bold">
                     <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">import_contacts</i><span class="menu-title" data-i18n="eCommerce">برنامه ها</span></a>
                     <div class="collapsible-body">
                         <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                             <li>
                                 <a href="eCommerce-products-page.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Products Page">ساعت کاری مدرسه</span></a>
                             </li>
                             <li>
                                 <a href="eCommerce-pricing.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Pricing">مشاوره فردی</span></a>
                             </li>
                         </ul>
                     </div>
                 </li>
                 <li class="bold">
                     <a class="waves-effect waves-cyan " href="table-basic.html"><i class="material-icons">perm_data_setting</i><span class="menu-title" data-i18n="Basic Tables">اطلاعات کلی دانش آموزان</span></a>
                 </li>
















                 @*<li class="bold">
                     <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">receipt</i><span class="menu-title" data-i18n="Invoice">تحلیل های جامع</span></a>
                     <div class="collapsible-body">
                         <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                             <li>
                                 <a href="app-invoice-list.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Invoice List">تحلیل آزمون ها</span></a>
                             </li>
                             <li>
                                 <a href="app-invoice-view.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Invoice View">تحلیل دانش آموزان</span></a>
                             </li>
                             <li>
                                 <a href="app-invoice-edit.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Invoice Edit">تحلیل کلاس ها</span></a>
                             </li>
                             <li>
                                 <a href="app-invoice-add.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Invoice Add">تحلیل کلاس ها</span></a>
                             </li>
                         </ul>
                     </div>
                 </li>*@
                 @*<li class="bold">
            <a class="waves-effect waves-cyan " href="app-calendar.html"><i class="material-icons">today</i><span class="menu-title" data-i18n="Calendar">تقویم</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="app-kanban.html"><i class="material-icons">format_list_bulleted</i><span class="menu-title" data-i18n="Kanban">Kanban</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="app-file-manager.html"><i class="material-icons">content_paste</i><span class="menu-title" data-i18n="File Manager">مدیریت فایل</span></a>
        </li>


        <li class="navigation-header">
            <a class="navigation-header-text">صفحات </a><i class="navigation-header-icon material-icons">more_horiz</i>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="user-profile-page.html"><i class="material-icons">person_outline</i><span class="menu-title" data-i18n="User Profile">مشخصات کاربر</span></a>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">content_paste</i><span class="menu-title" data-i18n="Pages">صفحات</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <a href="page-contact.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Contact">مخاطب</span></a>
                    </li>
                    <li>
                        <a href="page-blog-list.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Blog">وبلاگ</span></a>
                    </li>
                    <li>
                        <a href="page-search.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Search">جست و جو</span></a>
                    </li>
                    <li>
                        <a href="page-knowledge.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Knowledge">دانش</span></a>
                    </li>
                    <li>
                        <a href="page-timeline.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Timeline">خط زمانی</span></a>
                    </li>
                    <li>
                        <a href="page-account-settings.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Account Settings">تنظیمات حساب</span></a>
                    </li>
                    <li>
                        <a href="page-faq.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="FAQs">سؤالات متداول</span></a>
                    </li>
                    <li>
                        <a href="page-blank.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Page Blank">صفحه خالی</span></a>
                    </li>
                    <li>
                        <a href="page-collapse.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Page Blank">فروپاشی صفحه</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">crop_original</i><span class="menu-title" data-i18n="Medias">رسانه</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <a href="media-gallery-page.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Gallery Page">صفحه گالری</span></a>
                    </li>
                    <li>
                        <a href="media-hover-effects.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Media Hover Effects">جلوه های شناور رسانه</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">face</i><span class="menu-title" data-i18n="User">کاربر</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <a href="page-users-list.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="List">لیست</span></a>
                    </li>
                    <li>
                        <a href="page-users-view.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="View">چشم انداز</span></a>
                    </li>
                    <li>
                        <a href="page-users-edit.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Edit">ویرایش</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">lock_open</i><span class="menu-title" data-i18n="Authentication">احراز هویت</span><span class="badge badge pill purple float-right mr-10">10</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <a href="user-login.html" target="_blank"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Login">وارد شدن</span></a>
                    </li>
                    <li>
                        <a href="user-register.html" target="_blank"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Register">ثبت نام</span></a>
                    </li>
                    <li>
                        <a href="user-forgot-password.html" target="_blank"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Forgot Password">رمز عبور را فراموش کرده اید</span></a>
                    </li>
                    <li>
                        <a href="user-lock-screen.html" target="_blank"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Lock Screen">صفحه قفل</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">filter_tilt_shift</i><span class="menu-title" data-i18n="Misc">متفرقه</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <a href="page-404.html" target="_blank"><i class="material-icons">radio_button_unchecked</i><span data-i18n="404">404</span></a>
                    </li>
                    <li>
                        <a href="page-maintenance.html" target="_blank"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Page Maintenanace">دردست ساخت</span></a>
                    </li>
                    <li>
                        <a href="page-500.html" target="_blank"><i class="material-icons">radio_button_unchecked</i><span data-i18n="500">500</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navigation-header">
            <a class="navigation-header-text">رابط کاربری </a><i class="navigation-header-icon material-icons">more_horiz</i>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">cast</i><span class="menu-title" data-i18n="Cards">کارتها</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <a href="cards-basic.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Cards">کارتها</span></a>
                    </li>
                    <li>
                        <a href="cards-advance.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Cards Advance">کارت های پیشبرد</span></a>
                    </li>
                    <li>
                        <a href="cards-extended.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Cards Extended">کارتها تمدید شد</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">invert_colors</i><span class="menu-title" data-i18n="CSS">CSS</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <a href="css-typography.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Typograpy">تایپوگرافی</span></a>
                    </li>
                    <li>
                        <a href="css-color.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Color">رنگ</span></a>
                    </li>
                    <li>
                        <a href="css-grid.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Grid">جدول</span></a>
                    </li>
                    <li>
                        <a href="css-helpers.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Helpers">یاران</span></a>
                    </li>
                    <li>
                        <a href="css-media.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Media">رسانه</span></a>
                    </li>
                    <li>
                        <a href="css-pulse.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Pulse">نبض</span></a>
                    </li>
                    <li>
                        <a href="css-sass.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Sass">sass</span></a>
                    </li>
                    <li>
                        <a href="css-shadow.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Shadow">سایه</span></a>
                    </li>
                    <li>
                        <a href="css-animations.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Animations">انیمیشن</span></a>
                    </li>
                    <li>
                        <a href="css-transitions.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Transitions">انتقال</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">photo_filter</i><span class="menu-title" data-i18n="Basic UI">رابط کاربر اصلی</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <a class="collapsible-header waves-effect waves-cyan" href="Javascript:void(0)"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Buttons">دکمه ها</span></a>
                        <div class="collapsible-body">
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <a href="ui-basic-buttons.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Basic">پایه ای</span></a>
                                </li>
                                <li>
                                    <a href="ui-extended-buttons.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Extended">تمدید شده</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="ui-icons.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Icons">آیکون</span></a>
                    </li>
                    <li>
                        <a href="ui-alerts.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Alerts">هشدارها</span></a>
                    </li>
                    <li>
                        <a href="ui-badges.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Badges">نشانها</span></a>
                    </li>
                    <li>
                        <a href="ui-breadcrumbs.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Breadcrumbs">پودرهای سوخاری</span></a>
                    </li>
                    <li>
                        <a href="ui-chips.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Chips">چیپس</span></a>
                    </li>
                    <li>
                        <a href="ui-collections.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Collections">مجموعه</span></a>
                    </li>
                    <li>
                        <a href="ui-navbar.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Navbar">نوبار</span></a>
                    </li>
                    <li>
                        <a href="ui-pagination.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Pagination">صفحه</span></a>
                    </li>
                    <li>
                        <a href="ui-preloader.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Preloader">پیش بارگذاری</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">settings_brightness</i><span class="menu-title" data-i18n="Advanced UI">رابط کاربر پیشرفته</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <a href="advance-ui-carousel.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Carousel">چرخ فلک</span></a>
                    </li>
                    <li>
                        <a href="advance-ui-collapsibles.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Collapsibles">فرو می ریزد</span></a>
                    </li>
                    <li>
                        <a href="advance-ui-toasts.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Toasts">تست</span></a>
                    </li>
                    <li>
                        <a href="advance-ui-tooltip.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Tooltip">راهنمای ابزار</span></a>
                    </li>
                    <li>
                        <a href="advance-ui-dropdown.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Dropdown">رها کردن</span></a>
                    </li>
                    <li>
                        <a href="advance-ui-feature-discovery.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Discovery">کشف</span></a>
                    </li>
                    <li>
                        <a href="advance-ui-media.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Media">رسانه ها</span></a>
                    </li>
                    <li>
                        <a href="advance-ui-modals.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Modals">مدالها</span></a>
                    </li>
                    <li>
                        <a href="advance-ui-scrollspy.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Scrollspy">پیمایش</span></a>
                    </li>
                    <li>
                        <a href="advance-ui-tabs.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Tabs">زبانه ها</span></a>
                    </li>
                    <li>
                        <a href="advance-ui-waves.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Waves">امواج</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">add_to_queue</i><span class="menu-title" data-i18n="Extra Components">قطعات اضافی</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <a href="extra-components-range-slider.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Range Slider">محدوده کشویی</span></a>
                    </li>
                    <li>
                        <a href="extra-components-sweetalert.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Sweetalert">هشدار شیرین</span></a>
                    </li>
                    <li>
                        <a href="extra-components-nestable.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Nestable">بی نظیر</span></a>
                    </li>
                    <li>
                        <a href="extra-components-treeview.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Treeview">نمای درختی</span></a>
                    </li>
                    <li>
                        <a href="extra-components-ratings.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Ratings">رتبه بندی</span></a>
                    </li>
                    <li>
                        <a href="extra-components-tour.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Tour">تور</span></a>
                    </li>
                    <li>
                        <a href="extra-components-i18n.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="i18n">i18n</span></a>
                    </li>
                    <li>
                        <a href="extra-components-highlight.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Highlight">برجسته</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navigation-header">
            <a class="navigation-header-text">جداول و فرم ها</a><i class="navigation-header-icon material-icons">more_horiz</i>
        </li>

        <li class="bold">
            <a class="waves-effect waves-cyan " href="table-data-table.html"><i class="material-icons">border_all</i><span class="menu-title" data-i18n="Data Tables">جداول داده</span></a>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">chrome_reader_mode</i><span class="menu-title" data-i18n="Form Elements">عناصر فرم</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <a href="form-elements.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Form Elements">عناصر فرم</span></a>
                    </li>
                    <li>
                        <a href="form-select2.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Form Select2">فرم 2 را انتخاب کنید </span></a>
                    </li>
                    <li>
                        <a href="form-validation.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Form Validation"> فرم اعتبار سنجی </span></a>
                    </li>
                    <li>
                        <a href="form-masks.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Form Masks">ماسک های فرم</span></a>
                    </li>
                    <li>
                        <a href="form-editor.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Form Editor">ویرایشگر فرم</span></a>
                    </li>
                    <li>
                        <a href="form-file-uploads.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="File Uploads">بارگذاری پرونده</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="form-layouts.html"><i class="material-icons">image_aspect_ratio</i><span class="menu-title" data-i18n="Form Layouts">طرح بندی فرم</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-cyan " href="form-wizard.html"><i class="material-icons">settings_ethernet</i><span class="menu-title" data-i18n="Form Wizard">جادوگر فرم</span></a>
        </li>
        <li class="navigation-header">
            <a class="navigation-header-text">نمودار</a><i class="navigation-header-icon material-icons">more_horiz</i>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan " href="Javascript:void(0)"><i class="material-icons">pie_chart_outlined</i><span class="menu-title" data-i18n="Chart">نمودار</span></a>
            <div class="collapsible-body">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <a href="charts-chartjs.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="ChartJS">نمودار JS</span></a>
                    </li>
                    <li>
                        <a href="charts-chartist.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Chartist">طراح نمودار</span></a>
                    </li>
                    <li>
                        <a href="charts-sparklines.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Sparkline Charts">نمودارهای خط جرقه</span></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navigation-header">
            <a class="navigation-header-text">متفرقه </a><i class="navigation-header-icon material-icons">more_horiz</i>
        </li>


        <li class="bold">
            <a class="waves-effect waves-cyan " href="https://pixinvent.ticksy.com/" target="_blank"><i class="material-icons">help_outline</i><span class="menu-title" data-i18n="Support">پشتیبانی</span></a>
        </li>*@
             </ul>
             <div class="navigation-background"></div><a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
         </aside>
         <!-- END: SideNav-->
         <!-- BEGIN: Footer-->

         <footer class="page-footer footer footer-static footer-light navbar-border navbar-shadow">
             <div class="footer-copyright">
                 <div class="container">
                     <span>
                         &copy; 2021 تمامی حقوق این پورتال متعلق به <a href="#" target="_blank">پیمان اسفندمزد</a>
                         میباشد.
                     </span><span class="right hide-on-small-only">
                         @*فارسی سازی شده توسط <a href="http://ticktockteam.ir/">تیم تیک تاک</a>*@
                     سامانه مدیریت و برنامه ریزی دانش آموزان
                     </span>
                 </div>
             </div>
         </footer>

         <!-- END: Footer-->
         <!-- BEGIN VENDOR JS-->
         <script src="~/wwwroot/js/vendors.min.js"></script>
         <!-- BEGIN VENDOR JS-->
         <!-- BEGIN PAGE VENDOR JS-->
         <script src="~/wwwroot/vendors/chartjs/chart.min.js"></script>
         <script src="~/wwwroot/vendors/chartist-js/chartist.min.js"></script>
         <script src="~/wwwroot/vendors/chartist-js/chartist-plugin-tooltip.js"></script>
         <script src="~/wwwroot/vendors/chartist-js/chartist-plugin-fill-donut.min.js"></script>
         <!-- END PAGE VENDOR JS-->
         <!-- BEGIN THEME  JS-->
         <script src="~/wwwroot/js/plugins.min.js"></script>
         <script src="~/wwwroot/js/search.min.js"></script>
         <script src="~/wwwroot/js/scripts/customizer.min.js"></script>
         <script src="~/wwwroot/js-rtl/custom/custom-script-rtl.min.js"></script>
         <!-- END THEME  JS-->
         <!-- BEGIN PAGE LEVEL JS-->
         @*<script src="~/wwwroot/js-rtl/scripts/dashboard-modern-rtl.js"></script>*@
         @*<script src="~/wwwroot/js/scripts/intro.min.js"></script>*@
         <!-- END PAGE LEVEL JS-->
         @RenderSection("Scripts", required: false)
</body>
</html>